/* Page structure */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
body {
  height: 100%;
  background-color: #2b2b2b;
  color: darkgrey;
}
#wrap {
  min-height: 100%;
  height: auto;
}
.dash {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #2b2b2b;
}
.alerts {
    margin-top: 24px;
    background-color: black;
}
.alerts.error {
    color: red;
    padding: 5px 15px;
}
.alerts.warning {
    color: orange;
    padding: 5px 15px;
}
.alerts.info {
    color: #f2f2f2;
    padding: 5px 15px;
}
/* Navigation */
.navbar-default {
    background-color: #333;
}
.navbar {
    min-height: 20px;
}
.navbar-fixed-top {
    border: none;
}
.navbar-default .navbar-nav>li>a {
    background-color: #333;
    color: #9a9a9a;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
    line-height: 14px;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-brand:hover {
    color: #f2f2f2;
    background-color: #555;
}
.navbar-default .navbar-brand {
    color: #9a9a9a;
    padding: 5px 15px;
    font-size: 13px;
    line-height: 14px;
    letter-spacing:1px;
    text-transform:uppercase;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #9a9a9a;
}
.navbar-default .navbar-toggle {
    border-color: #9a9a9a;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #2b2b2b
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #9a9a9a;
}

/* Content cell */
.chart-cell {
    width: 100%;
}
.cell-heading {
    color: darkgrey;
    font-size: 12px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #4f4f4f;
    margin-bottom: 5px;
}
.cell-heading span.dot {
    width: 5px;
    height: 5px;
    background-color: #4f4f4f;
    display: inline-block;
    margin-bottom: 2px;
}
.hori-bars-left {
    width:50%;
    height:160px;
    display:table;
    padding-right:5px;
}
.hori-bars-left-el {
    display:table-row;
}
span.el-name, td.el-name {
    color: darkgrey;
    font-size: 12px;
    display:table-cell; 
    vertical-align:middle;
    border-bottom-width:1px;
    border-bottom-style:solid;
    border-bottom-color: #4f4f4f;
}
span.el-price, td.el-price {
    font-size: 24px;
    text-align: right;
    display:table-cell; 
    vertical-align:middle;
    border-bottom-width:1px;
    border-bottom-style:solid;
    border-bottom-color: #4f4f4f;
}
.hori-bars-right {
    width:50%;
    height:160px;
}

table.datatable {
    width:100%;
    height:160px;
}
table.datatable td.el-price {
    color: #f2f2f2;
}

.pie {
    padding-top: 2px;
}
.metric {
    color: #f2f2f2;
    font-size: 98px;
    line-height: 1;
}
.volat {
    fill: #f2f2f2;
    stroke: #f2f2f2;
    font-size: 32px;
    line-height: 1;
}
.donut_cont {
    display: inline-block;
    position: relative;
    width: 50%;
}
.donut_dummy {
    padding-top: 100%;
}
.donut_element {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.m-red {
  color: #f23c25 !important; }
  .m-red.mb {
    background-color: #f23c25; }
  .m-red .arrow-up {
    border-color: transparent transparent #f23c25 transparent; }
  .m-red .arrow-down {
    border-color: #f23c25 transparent transparent transparent; }

.m-amber {
  color: #e89640 !important; }
  .m-amber.mb {
    background-color: #e89640; }
  .m-amber .arrow-up {
    border-color: transparent transparent #e89640 transparent; }
  .m-amber .arrow-down {
    border-color: #e89640 transparent transparent transparent; }

.m-green {
  color: #66ce39 !important; }
  .m-green.mb {
    background-color: #66ce39; }
  .m-green .arrow-up {
    border-color: transparent transparent #66ce39 transparent; }
  .m-green .arrow-down {
    border-color: #66ce39 transparent transparent transparent; }

.change {
    width: 100%; 
    line-height: 1; 
}
.change .arrow-up, .change .arrow-down {
    float: left;
    margin-right: 10px;
    margin-top: 5px; 
}
.change.metric-small {
    font-size: 32px; 
}
.change .small {
    font-size: 20px; 
}

/* History line */
.hist {
    position: relative;
}
span.histlabel{
    position:absolute;
    z-index:99;
    display:inline-block;
    left:2px;
    top:1px;
    color: #FFF;
    background-color: #000;
    padding: 2px;
    font-family: monospace, serif;
}
/* Arrows */
.arrow-up {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 12.5px 21.7px 12.5px; }

.arrow-down {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 21.7px 12.5px 0 12.5px; }



/* Large desktop */
@media (min-width: 1200px) {
    .metric { 
	font-size: 80px;
    }
    span.el-price {
	font-size: 18px;
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
    .metric { 
	font-size: 126px;
    }
    .navbar-default .navbar-brand {
	padding: 15px 15px;
	font-size: 23px;
	line-height: 24px;
    }
    .alerts {
	margin-top: 54px
    }
    .navbar-default .navbar-nav>li>a {
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 22px;
        line-height: 24px;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    .volat {
        font-size: 28px;
    }
    .metric { 
	font-size: 80px;
    }
    span.el-price {
	font-size: 18px;
    }
}
