<!DOCTYPE html>
<html lang="en" ng-app="cfcApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Live Bitcoin price dashboard for multiple Bitcoin exchanges: BTC-E, Bitstamp, Bitfinex, BTC China">
    <meta name="keywords" content="bitcoin, bitcoins, btc, dashboard, price, BTC-E, Bitstamp, Bitfinex, BTC China">
    <link rel="shortcut icon" href="favicon.ico">
    <meta name="fragment" content="!">

    <title>ChartFactory - Bitcoin real-time BTC-exchange price charts</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/custom.css" rel="stylesheet" inline="true">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script type=text/ng-template id=about.html>
     <h4>About</h4>
     <div><p>This Bitcoin live price dashboard is a free resource for anyone to use. The Bitcoin live price data is retrieved every 5 seconds from the public API's of BitcoinAverage, BTC-E, Bitstamp, Bitfinex, and BTC China and streamed in near real-time to your browser.</p><p>I built this dashboard just for the fun of it and to learn more about some technologies like AngularJS and D3js. The backend is built with Python, Flask, gevent and Redis.</p><p>If you have any feature requests or comments, please <a href="contact">let me know</a>.</p></div>
    </script>
    <script type=text/ng-template id=contact.html>
     <h4>Contact</h4>
     <div>Please contact me on Twitter <a href="http://twitter.com/pors">@pors</a></div>
    </script>
    <script type=text/ng-template id=disclaimer.html>
     <h4>Disclaimer</h4>
     <div>Information is provided &quot;as is&quot; and solely for informational purposes, not for trading purposes or advice, and may be delayed and incorrect.</div>
    </script>
  </head>
  <body>
    <div id="wrap">

      <div ng-controller="CollapseCtrl">
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">ChartFactory</a>
          </div>
          <div class="navbar-collapse" collapse="isCollapsed">
            <ul class="nav navbar-nav navbar-left">
              <li><a href="about">About</a></li>
              <li><a href="contact">Contact</a></li>
              <li><a href="disclaimer">Disclaimer</a></li>
            </ul>
          </div><!--/.nav-collapse -->          
        </div><!--/.navbar -->
        <div class="alerts" ng-class="alert.class" ng-view></div>
      </div><!--/CollapsCtrl -->

      <div class="alerts" ng-cloak ng-class="alert.class" ng-controller="AlertCtrl">{{ alert.text }}</div>
      <div class="dash" ng-controller='ChartCtrl'>
	<div class="row">


          <div class="col-lg-3 col-sm-6 col-xs-12">
	    <div class="chart-cell">
	      <div class="cell-heading"><span class="dot"></span> USD/BTC AVERAGE</div>
              <div class="metric" ng-cloak>{{ data.avg.last[0] }}.<span class="small">{{ data.avg.last[1] }}</span></div>
              <div class="change metric-small" ng-class="{'+':'m-green', '-':'m-red'}[data.avg.updown]" ng-cloak>
		<div ng-class="{'+':'arrow-up', '-':'arrow-down'}[data.avg.updown] "></div>
		<span>{{ data.avg.chng[0] }}<span class="small">.{{ data.avg.chng[1] }}% ({{data.avg.updown}}{{data.avg.achng | number:2}})</span></span>
	      </div>
	    </div>
          </div>

          <div class="col-lg-3 col-sm-6 col-xs-12">
	    <div class="chart-cell">
	      <div class="cell-heading"><span class="dot"></span> USD/BTC LAST</div>
	      <div class="pull-left hori-bars-left">
		<div ng-repeat="obj in data.last" class="hori-bars-left-el">
                  <span class="el-name" ng-cloak>{{obj.exch}}</span>
                  <span style="color:#09C" class="el-price ng-cloak">{{obj.price.toString().slice(0,-2)}}.{{obj.price.toString().slice(-2)}}</span>
                </div>
	      </div>
              <div d3-bars base-color='#09C' chart-width='100%' chart-height=160 data='data.last' on-click="onClick(item)" class="pull-right hori-bars-right"></div>
	      <div class="clearfix"></div>
	    </div>
	  </div>

          <div class="col-lg-3 col-sm-6 col-xs-12">
	    <div class="chart-cell">
	      <div class="cell-heading"><span class="dot"></span> USD/BTC HIGH</div>
	      <div class="pull-left hori-bars-left">
		<div ng-repeat="obj in data.high" class="hori-bars-left-el">
                  <span class="el-name" ng-cloak>{{obj.exch}}</span>
                  <span style="color:#66ce39" class="el-price" ng-cloak>{{obj.price.toString().slice(0,-2)}}.{{obj.price.toString().slice(-2)}}</span>
                </div>
	      </div>
              <div d3-bars base-color='#66ce39' chart-width='100%' chart-height=160 data='data.high' on-click="onClick(item)" class="pull-right hori-bars-right"></div>
	      <div class="clearfix"></div>
	    </div>
	  </div>

          <div class="col-lg-3 col-sm-6 col-xs-12">
	    <div class="chart-cell">
	      <div class="cell-heading"><span class="dot"></span> USD/BTC LOW</div>
	      <div class="pull-left hori-bars-left">
		<div ng-repeat="obj in data.low" class="hori-bars-left-el">
                  <span class="el-name" ng-cloak>{{obj.exch}}</span>
                  <span style="color:#e89640" class="el-price" ng-cloak>{{obj.price.toString().slice(0,-2)}}.{{obj.price.toString().slice(-2)}}</span>
                </div>
	      </div>
              <div d3-bars base-color='#e89640' chart-width='100%' chart-height=160 data='data.low' on-click="onClick(item)" class="pull-right hori-bars-right"></div>
	      <div class="clearfix"></div>
	    </div>
	  </div>
        </div>

	<div class="row">

          <div class="col-lg-3 col-sm-6 col-xs-12">
	    <div class="chart-cell">
	      <div class="cell-heading"><span class="dot"></span> VOLUME LAST 24H</div>
              <div d3-pies pie-radius=80 data='data.volume'  class="pie"></div>
	    </div>
	  </div>

          <div class="col-lg-3 col-sm-6 col-xs-12">
	    <div class="chart-cell">
	      <div class="cell-heading"><span class="dot"></span> USD/BTC BID ASK</div>
	      <table class="datatable">
		<tr><td></td><td class="text-right">BID</td><td class="text-right">ASK</td></tr>
		<tr ng-repeat="obj in data.bidask" ng-cloak>
                  <td class="el-name">{{obj.exch}}</td>
                  <td class="el-price">{{obj.bid.toString().slice(0,-2)}}.{{obj.bid.toString().slice(-2)}}</td>
                  <td class="el-price">{{obj.ask.toString().slice(0,-2)}}.{{obj.ask.toString().slice(-2)}}</td>
                </tr>
	      </table>


	    </div>
          </div>


          <div class="col-lg-3 col-sm-6 col-xs-12">
	    <div class="chart-cell">
	      <div class="cell-heading"><span class="dot"></span> USD/BTC VOLATILITY LAST 24H</div>
              <div class="pull-left donut_cont">
                <div class="donut_dummy"></div>
                <div class="donut_element">
                  <div d3-donut pie-radius=80 data='data.volat[0]' chart-width="100%" exch-id=0 id="donut0"></div>
                </div>
                <div class="text-center" ng-cloak>{{ data.volat[0].exch }}</div>
              </div>
              <div class="pull-right donut_cont">
                <div class="donut_dummy"></div>
                <div class="donut_element">
                  <div d3-donut pie-radius=80 data='data.volat[1]' chart-width="100%" exch-id=1 id="donut1"></div>
                </div>
                <div class="text-center" ng-cloak>{{ data.volat[1].exch }}</div>
              </div>
	      <div class="clearfix"></div>
            </div>
          </div>


          <div class="col-lg-3 col-sm-6 col-xs-12">
	    <div class="chart-cell">
	      <div class="cell-heading"><span class="dot"></span> USD/BTC VOLATILITY LAST 24H</div>
              <div class="pull-left donut_cont">
                <div class="donut_dummy"></div>
                <div class="donut_element">
                  <div d3-donut pie-radius=80 data='data.volat[2]' chart-width="100%" exch-id=2 id="donut2"></div>
                </div>
                <div class="text-center" ng-cloak>{{ data.volat[2].exch }}</div>
              </div>
              <div class="pull-right donut_cont">
                <div class="donut_dummy"></div>
                <div class="donut_element">
                  <div d3-donut pie-radius=80 data='data.volat[3]' chart-width="100%" exch-id=3 id="donut3"></div>
                </div>
                <div class="text-center" ng-cloak>{{ data.volat[3].exch }}</div>
              </div>
	      <div class="clearfix"></div>
            </div>
          </div>

        </div>
	<div class="row">
          <div class="col-lg-12">
	    <div class="chart-cell" id="histcharts">
	      <div class="cell-heading"><span class="dot"></span> USD/BTC RECENT HISTORY</div>
              <div hist data='histdata[0]' exch-id=0 class="hist"></div>
              <div hist data='histdata[1]' exch-id=1 class="hist"></div>
              <div hist data='histdata[2]' exch-id=2 class="hist"></div>
              <div hist data='histdata[3]' exch-id=3 class="hist"></div>
	    </div>
	  </div>
	</div>

      </div> <!-- end dash -->

    </div> <!-- end wrap -->

    <script src="js/socket.io.js"></script>
    <script>
     WEB_SOCKET_SWF_LOCATION = "bin/WebSocketMain.swf";
     WEB_SOCKET_DEBUG = true;
    </script>
    <script src="js/angular.js"></script>
    <script src="js/angular-route.js"></script>
    <script src="js/d3.js"></script>
    <!-- build:js js/app.js -->
    <script src="js/ui-bootstrap-custom-0.9.0.js"></script>
    <script src="js/smoothie.js"></script>
    <script src="js/app.js"></script>
    <!-- endbuild -->
    <script>
     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
     ga('create', 'UA-46786028-1', 'chartfactory.com');
     ga('send', 'pageview');
    </script>
  </body>
</html>
